# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# python
__pycache__
*.pyc


# libs
*.dll
*.so

# Spyder project settings
.spyderproject
.spyproject

# vscode
.vscode

# REFPROP build files
# CMAKE
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
refprop_builder_docker/build/*
refprop_builder_docker/fortran/*

# lisenced files
/server/refprop/*

# ignore runtime file
/server_docker

# ignore playground
testing

# Old files
*_old.*